@import '../scss/colors.scss';

h1.name {
  font-size: 30px;
  font-weight: 700;
}

h2.position {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 300;
}

h3.location {
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
}

.social-media {
  margin-bottom: 0;

  a {
    display: inline-block;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 1px solid $darkgrey;
    border-radius: 0.3em;
    background: $darkgrey;
    color: white;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }

    &:hover,
    &:active {
      background: white;
      color: black;
    }
  }
}
